[submodule "alpha-zero-general.git"]
	path = alpha-zero-general
	url = https://github.com/damienwmartin/alpha-zero-general.git
[submodule "open_spiel"]
	path = open_spiel
	url = https://github.com/deepmind/open_spiel.git
[submodule "PokerRL"]
	path = PokerRL
	url = https://github.com/EricSteinberger/PokerRL.git
[submodule "Deep-CFR"]
	path = Deep-CFR
	url = https://github.com/EricSteinberger/Deep-CFR.git
